# .NET Core
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

# Temporary files
tmp/
*.tmp
*.swp
*.*~

# Build results
bin/
obj/

# Visual Studio cache/options directory
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Test Results
TestResults/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Tye
.tye/

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/
*.sln.iml

# Ignore launchSettings.json
**/launchSettings.json
