<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/76c8cb70-da15-4f2e-ab35-475f06a57d05/resourceGroups/NKPort-Database-ResourceGroup/providers/Microsoft.Web/sites/nkport-api</ResourceId>
    <ResourceGroup>NKPort-Database-ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://nkport-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>dc5ccc13-bf23-4e98-8981-e37ed9f0d7d0</ProjectGuid>
    <PublishUrl>https://nkport-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$nkport-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>